# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --hostname=demo

# Root password
#rootpw --iscrypted $6$aord2oDBGEvGFuRy$TvzSzcU/1a5X6d8c5PrDUBZkRUqS3IsjOryOnL/F5UW9oYFGQatfZJb70h3u/NNWAGQ1lUI.VLUVEZe.ghez5/
rootpw --iscrypted $6$h.oIStZ4OngmHXBe$3963R.qOR.igbUenGzaYypamgUmf6sB1Bm2TprOB4wBGyY7u04bbDEcQ12G7tXZqMoCInqTaBGM1H9QltQnuh1
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Riga --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
